h1 {
	font-family: 'railway';
	color: #od2c40;
  letter-spacing: 1px;
  font-weight: 400px;
	font-size: 45px;
}
h2 {
	font-family:'railway';
	font-color: #ff0000;
	letter-spacing: 1px; 
	font-weight: 600px;
	font-size: 18px;
  
}
h3 {
	font-family:'railway';
	color: #0d2c40;
	letter-spacing: 1px; 
	font-weight: 600px;
	font-size: 20px;
  
}
h5 {
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  display: inline-block;
  font-weight: 800;
  font-size: 20px;
}
p {
  line-height: 26px;
  font-family: 'Fascinate Inline', cursive;
  font-weight: 800;
  font-size: 21px;
}
body {
text-align: center;
}

